.container {
    position: relative;
    float: left;
    width: calc(100% - 50px);
    height: auto;
    padding: 25px;
    color: #505050;
    font-weight: 300;
}

.page_title {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0 40px 0;
}