.linear_loading {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.loading_text {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: #505050;
}







.info_container {
    position: relative;
    float: left;
    width: 55%;
    margin: 37px 5% 0 10%;
    height: 100%;
}

.image_container {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
}

@media (max-width: 650px) {
    .image_container {
        width: 100%;
    }
    .info_container {
        width: 100%;
        margin: 50px 0 50px 0;
    }
}

/* ----------------------------- */
/* --- imageUpload.js styles --- */

.image_upload {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.image_display {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0 20px 0;
    border: 1px solid #505050;
}

.image {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}